* {
  box-sizing: border-box;
  overflow: auto;
}

.App {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
}

body {
  background-color: whitesmoke;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

h1 {
  margin: 20px 0 0;
}

.temp-button {
  display: flex;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  background-color: black;
  color: #fff;
  border-radius: 8px;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;
  transition: 0.4s ease-out;
}

.Keyboard {
  width: auto;
}

.figure-container {
  fill: transparent;
  stroke: black;
  stroke-width: 4px;
  stroke-linecap: round;
}

.Wrong {
  display: flex;
  align-items: center;
}

.figure-part {
  display: none;
}

.wrong-letters-container {
  top: 20px;
  right: 20px;
  display: flex;
  text-align: right;
}

.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 24px;
}

.word {
  display: flex;
  bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  margin-bottom: 30px;
}

.inputbox {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  background: none;
  background-color: white;
  border-radius: 8px;
  color: #53565a;
  font-size: 20px;
  font-weight: 300px;
  transition: 0.4s ease-out;
}

.input-label {
  color: black;
  font-weight: bold;
}

.Instructions-Page {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
}

.instructions {
  margin-top: 10px;
  margin-bottom: 30px;
}

.submit-button {
  display: flex;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  background-color: black;
  color: #fff;
  border-radius: 8px;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;
  transition: 0.4s ease-out;
}

.submit-button:hover {
  background: greenyellow;
  color: black;
}

.letter {
  border-bottom: 3px solid #2980b9;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  height: 50px;
  width: 25px;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background: #2980b9;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.popup button {
  cursor: pointer;
  background-color: #fff;
  color: #2980b9;
  border: 0;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
}

.popup button:active {
  transform: scale(0.98);
}

.popup button:focus {
  outline: 0;
}

.notification-container {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px 20px;
  transition: transform 0.3s ease-in-out;
  margin-top: 30px;
  align-items: center;
}

.notification-container p {
  margin: 0;
}
